
.pinCard {
  box-shadow: 2px 2px 3px #aaa;
  padding: 10px;
  text-align: center;
  height: 100%;

}

.boardCard {
  @extend .pinCard;
  cursor: pointer;
}

.boardCard:hover {
  background-color: #f8f8f8;
}

.pinCard {
  height: 350px;
}

.pinImg {
  max-height: 200px;
  max-width: 90%;
  display: inline-block;
  margin: 0 auto;
}

.boardImg {
  width:  100px;
  height: 100px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
}

.boardInfo,
.pinInfo {
  text-align: center;
}

.searchBox {
  padding-top: 9px;
}

.btn-toolbar {
  button {
    margin: 5px 0 5px 0;
  }
}

#loginBackground {
  height: 100vh;
  background: linear-gradient(to left, lightgrey , navajowhite);
}

#loginBox {
  padding: 30px;
  border: 2px lightgrey solid;
  border-radius: 5px;
  background-color: white;
  margin-top: 60px;
  h2 {
    margin-top: 0px;
  }
}

.navbar {
  margin-bottom: 0 !important;
}

// Needed for drag and drop functionality
ul[dnd-list],
ul[dnd-list] > li {
  position: relative;
}

ul[dnd-list] {
    //min-height: 420px;
    padding-left: 0px;
    list-style-type: none;
}

ul[dnd-list] .dndDraggingSource {
    display: none;
}

ul[dnd-list] .dndPlaceholder {
    background-color: #ddd;
}

.selected {
  background-color: #f8f8f8;
}
