
.pinCard {
  box-shadow: 2px 2px 3px #aaa;
  padding: 10px;
  text-align: center;
  height: 100%;

}

.boardCard {
  @extend .pinCard;
  cursor: pointer;
}

.boardCard:hover {
  background-color: #f8f8f8;
}

.pinCard {
  height: 350px;
}

.pinImg {
  max-height: 200px;
  max-width: 90%;
  display: inline-block;
  margin: 0 auto;
}

.boardImg {
  width:  100px;
  height: 100px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
}

.boardInfo,
.pinInfo {
  text-align: center;
}

.searchBox {
  padding-top: 9px;
}