<button ng-click="open()" class="btn btn-primary"> Create a Pin</button>

<div><h2 class="boardInfo"> {{board.title}} Board</h2></div>
<div><h4 class="boardInfo">{{board.description}}</h4></div>

<div class="container">
  <h3 class="pinInfo">Pins</h3>
  <div ng-repeat="pin in pins">
    <div class="clearfix col-xs-12" ng-if="$index % 3 == 0"></div>
      <div class="col-xs-4 pinCard">
        <img ng-src="{{pin.imgUrl}}" class="img-thumbnail pinImg">
          <h3> {{pin.title}} </h3>
          <p> {{pin.description}} </p>
      <button class="btn btn-info" ng-click="pinUpdate(pin)">Edit</button>
      <button class="btn btn-danger" ng-click="pinDelete(pin.id)">X</button>
      </div>
  </div>
</div>
