
<button type="button" class="btn btn-primary" ng-click="open()">Create Board</button>
<div class="container">
  <div ng-repeat="board in boards">
    <div class="clearfix" ng-if="$index % 4 == 0"></div>
      <div class="col-xs-12 col-md-6 boardCard">
        <div ng-click="viewBoard(board.id)">
          <div class="col-xs-10 col-xs-offset-2">
            <div class="col-xs-2" ng-repeat="image in board.imgUrls track by $index">
                <img class="boardImg" ng-src="{{image}}"/>
            </div>
          </div>
          <h3> {{board.title}} </h3>
          <p> {{board.description}} </p>
        </div>
        <button class="btn btn-info" ng-click="boardEdit(board)">Edit</button>
        <button class="btn btn-danger" ng-click="boardDelete(board.id)">X</button>
      </div>
  </div>
</div>
